py~=1.11.0
colorama~=0.4.5
pytest~=7.1.2
h11~=0.13.0
pip~=22.1.2
attrs~=21.4.0
wheel~=0.37.1
cryptography~=37.0.4
trio~=0.21.0
outcome~=1.2.0
sniffio~=1.2.0
sortedcontainers~=2.4.0
cffi~=1.15.1
idna~=3.3
pluggy~=1.0.0
iniconfig~=1.1.1
atomicwrites~=1.4.0
certifi~=2022.6.15
selenium~=4.3.0
urllib3~=1.26.10
pyparsing~=3.0.9
pycparser~=2.21
setuptools~=62.2.0
packaging~=21.3
wsproto~=1.1.0
jsonpickle~=2.2.0